---
layout: default
title: "Welcome"
---


<div class="eight-col">
    <h4>We are — </h4>
  <h1>a <em>community for Designers</em> to engage in conversation about <em>Graphic Design</em> across Chicago and beyond.</h1>
    <h3> Join our
        <a href="https://chicagographi-lxs3470.slack.com/join/shared_invite/zt-is8fgc4y-R6tmY7CrDXNSLftcJdRC9w#/" target="_blank">Slack </a> and subscribe to our <a href="http://eepurl.com/hig5NP" target="_blank">newsletter</a>.
    </h3>
</div>
<div class="four-col cta-small">
    <h4>Question</h4>
    <img src="/assets/images/cgdc-community.png">
    <h3>What do you want from a design community?</h3>
    <h4>
        <a href="https://forms.gle/5hi747EPUbmhpkRX6" target="_blank">Tell us what you think</a>
    </h4>

</div>






<hr class="full-width">
<h4 class="full-width">upcoming events</h4>



<a href="https://www.eventbrite.com/e/the-city-of-chicago-design-series-big-shoulders-fonts-for-chicagoans-tickets-147412246999?utm-medium=discovery&utm-campaign=social&utm-content=attendeeshare&aff=escb&utm-source=cp&utm-term=listing" target="_blank" class="event-card">
    <img src="/assets/images/cgdc-pk.png">
    <div class="card-text">
        <h4>Talk</h4>
        <h4>April 15 | 1 – 2pm CST </h4>
        <h3>Big Shoulders: Fonts for Chicagoans <br> A Talk byPatric King</h3>
    </div>
</a>

<a href="https://www.eventbrite.com/e/reimagining-monuments-memorials-a-talk-bylaurenmeranda-tickets-145338500367" target="_blank" class="event-card">
    <img src="/assets/images/cgdc-monuments.png">
    <div class="card-text">
        <h4>Talk</h4>
        <h4>April 29 | 6 – 7pm CST </h4>
        <h3>Reimagining Monuments & Memorials <br> A Talk byLaurenMeranda</h3>
    </div>
</a>

<a href="https://www.eventbrite.com/e/office-hours-with-the-chicago-graphic-design-club-tickets-135331810087" target="_blank" class="event-card">
    <img src="/assets/images/office_hours.jpg">
    <div class="card-text">
        <h4>Community</h4>
        <h4>May 6 | 6 – 7pm CST </h4>
        <h3>Office Hours <br> First Thursdays of the Month</h3>
    </div>
</a>


<a href="https://www.eventbrite.com/e/design-justice-by-sasha-costanza-chalk-book-discussion-tickets-145496916193" target="_blank" class="event-card">
    <img src="/assets/images/cgdc-design-justice.jpg">
    <div class="card-text">
        <h4>Book Discussion</h4>
        <h4>May 12 | 6 – 7pm CST </h4>
        <h3>Design Justice <br> By Sasha Costanza-Chock </h3>
    </div>
</a>








<hr class="full-width">

<h4 class="full-width">past events</h4>

<span class="event-card-old">
    <iframe width="100%"  src="https://www.youtube.com/embed/aw1KMnMT6DU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-text">
        <h4>Talk</h4>
        <p>March 10 2021<br>...And the world isn't flat anymore<br> A talk by Matt Wizinsky</p>
    </div>
</span>




<span class="event-card-old">
    <img src="/assets/images/book-club_design-as-an-attitude_eventbrite_header.jpg">
    <div class="card-text">
        <h4>Book Discussion</h4>
        <p>February 10 & 24 2021<br> Design as an Attitude <br> By Alice Rawsthrorn</p>
    </div>
</span>


<span class="event-card-old">
    <iframe width="100%"  src="https://www.youtube.com/embed/Ie-Wb3_r4-A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-text">
        <h4>Talk</h4>
        <p>February 23 2021<br> The Design of the City of Chicago <br> With Jason Kunesh</p>
    </div>
</span>


<span class="event-card-old">
    <iframe width="100%"  src="https://www.youtube.com/embed/lQ3ZcBkQz4s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-text">
        <h4>Talk</h4>
        <p>January 26 2021<br> Seven Things Every Designer Needs to Know About Writing <br> A talk by Ellen Lupton</p>
    </div>
</span>


<span class="event-card-old">
    <iframe width="100%"  src="https://www.youtube.com/embed/-57XMMZh6nI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-text">
        <h4>Talk</h4>
        <p>December 3 2020<br> Branding 900 910 Lake Shore Drive: the search for Mies typography <br> A talk by The Narrative</p>
    </div>
</span>


<span class="event-card-old">
    <iframe width="100%"  src="https://www.youtube.com/embed/uxbLdxzJQxk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-text">
        <h4>Talk</h4>
        <p>November 18 2020<br> Experimenting in Graphic Design<br> A talk by Jonathan Sangster</p>
    </div>
</span>



<span class="event-card-old">
    <img src="/assets/images/book-club_are-we-human_eventbrite_header.jpg">
    <div class="card-text">
        <h4>book Discussion</h4>
        <p>September 30 2020<br> Are We Human?<br> by Beatriz Colomina & Mark Wigley </p>
    </div>
</span>

<span class="event-card-old">
    <img src="/assets/images/book-club_designing_design_eventbrite_header.jpg">
    <div class="card-text">
        <h4>book Discussion</h4>
        <p>August 5 2020<br> Designing Design <br> by Kenya Hara</p>
    </div>
</span>

<span class="event-card-old">
    <img src="/assets/images/book-club_bauhaus_eventbrite_header.jpg">
    <div class="card-text">
        <h4>book Discussion</h4>
        <p>June 24 2020<br> The ABC's of Triangle, Square, Circle: The Bauhaus & Design Theory <br>by Ellen Lupton & J. Abbott Miller</p>
    </div>
</span>

<span class="event-card-old">
  <img src="/assets/images/book-club_design_as_art_eventbrite_header.jpg">
  <div class="card-text">

      <h4>book Discussion</h4>
    <p>May 6 2020 <br> Design as Art <br>by Bruno Munari
    </p>

  </div>
</span>



  {{ content }}

<!--  {%- if site.posts.size > 0 -%}
    <h2 class="full-width">{{ page.list_title | default: "Work" }}</h2>
      {%- for post in site.posts -%}
      <div class="half-container">
        <h4>
          <a class="post-link" href="{{ post.url | relative_url }}">
             <img src="{{ site.baseurl }}../{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}">
            {{ post.title | escape }}
          </a>
        </h4>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </div>
      {%- endfor -%}
  </div>

  {%- endif -%}

  -->

