---
layout: default
title: "Welcome"
---

<h1 class="full-width">
  Spotlight Series
</h1>
<h2 class="full-width start-four">An evolving collection of creatives commited to making an impact in their communities and industries.</h2>



  {% for post in site.posts %}
<a href="{{ post.url }}" class="profile-card ">
    <img src="assets/images/spotlight/{{post.img}}">
    <div class="card-text">
        <h4>Meet</h4>
        <h2>{{ post.title }}</h2>
        <p>{{ post.description}}</p>
    </div>

</a>
  {% endfor %}




